body {
  background-color: rgb(109 124 107);
  height: 100vh;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
}

.capa img {
  width: 100%;
}

.menu {
  background-color: darkgray;
  padding: 10px 0px;
  margin-top: -7px;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}
.menu a {
  text-decoration: none;
}

.conteudo {
  background-color: antiquewhite;
  padding: 30px;
}

.conteudo p {
  margin-bottom: 0px;
}

.footer {
  text-align: center;
  color: black;
}

/* estilo da página campanha */
.conteudo img {
  width: 100%;
}
